.apollo {
  margin-top: 10px;
  padding: 5px 0;
  border-top: solid 1px #e6ecf0;
  color: #657786;
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
}

/* When the tweet is selected */
.apollo:nth-child(5) {
  margin-top: 0;
}

.apollo > div {
  margin-left: -6px;
  margin-right: -6px;
}

.apollo .apollo-indicator {
  margin: 5px 5px;
  padding: 5px;
  border: 1px solid #343434;
  color: #343434;
  background-color: white;
  font-size: 10pt;
  border-radius: 8px;
  display: inline-block;
}

.apollo .apollo-indicator.apollo-true, .apollo .apollo-indicator.apollo-false {
  border-left-width: 4px;
}

.apollo .apollo-indicator.apollo-true {
  border-color: #74B457;
  background-color: #F2FFEC;
}

.apollo .apollo-indicator.apollo-false {
  border-color: #FFC700;
  background-color: #FFF9E5;
}

.apollo .apollo-indicator .apollo-value {
  font-weight: bold;
  text-transform: uppercase;
}
