@font-face {
  font-family: "inter";
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/inter_variable.ttf");
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  src: url("chrome-extension://__MSG_@@extension_id__/fonts/playfair_display_variable.ttf");
}

.apollo {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  transition: transform 0.5s;
}

.apollo-button {
  margin-top: 12px;
}

.apollo-button button {
  margin: auto 0;
  padding: 0 16px;
  background-color: #DBFF00;
  height: 30px;
  border-radius: 15px;
  border: 2px solid black;
  font-weight: bold;
  cursor: pointer;
}

.apollo-button button.apollo-open {
  background-color: black;
  box-shadow: 0 0 0px 1px #fff;
  color: #DBFF00;
}

.apollo-button button:hover {
  background-color: #CCF000;
}

.apollo-button button.apollo-open:hover {
  background-color: #222;
}

.apollo-sidebar {
  position: fixed;
  background-color: #F9F9F9;
  top: 0;
  right: 0;
  width: 100%;
  max-width: 400px;
  height: 100%;
  max-height: 100%;
  box-shadow: 10px 0 20px #333333;
  display: flex;
  flex-direction: column;
}

.apollo-header {
  position: relative;
  background-color: black;
  color: #DBFF00;
  /*top: -50px;*/
  height: 50px;
  line-height: 50px;
  padding-left: 15px;
  text-transform: uppercase;
  font-family: "inter";
  font-size: 10pt;
  letter-spacing: 0.2pt;
  font-variation-settings: 'wght' 700;
}

.apollo-close {
  position: absolute;
  right: 0;
  background-color: #DBFF00;
  height: 100%;
  width: 50px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.apollo-box {
  max-height: 100%;
  overflow-y: auto;
}

.apollo-box > div {
  padding: 15px;
  padding-top: 0;
}

.apollo-box > div > div {
  margin-top: 12px;
}

.apollo-section-header {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-family: "inter";
  font-variation-settings: 'wght' 600;
  font-size: 8pt;
  letter-spacing: 0.05em;
  color: #404040;
  margin-bottom: 12px;
}

.apollo-hidden-sidebar {
  transform: translate(120%, 0);
}

.apollo-hidden {
  display: none;
}

.apollo-divider {
  border-bottom: 1px solid darkgray;
  margin: 5px 0;
}

#apollo-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

#apollo-headline {
  margin-bottom: 15px;
}

#apollo-headline a {
  font-family: 'Playfair Display';
  text-decoration: none;
  font-variation-settings: 'wght' 700;
  font-size: 16pt;
  line-height: 140%;
  color: #101419;
}

#apollo-date span, #apollo-author {
  font-weight: bold;
}

#apollo-author > embed {
  height: 18px;
  margin-right: 5px;
  vertical-align: middle;
}

a.apollo-related-article {
  margin: -0.5px -9px;
  padding: 8px;
  display: flex;
  text-decoration: none;
  color: inherit;
  border-radius: 3px;
  border: solid 1px transparent;
}

#apollo-related > div:first-child {
  margin-bottom: 8px;
}

.apollo-related-article:hover {
  background-color: #f1f1f1;
  border-color: #efefef;
}

.apollo-related-article img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.apollo-related-article > div {
  margin-left: 15px;
}

.apollo-related-article > div > div:first-child {
  font-family: 'Playfair Display';
  font-variation-settings: 'wght' 700;
  line-height: 130%;
  margin-bottom: 5px;
}

.apollo-plot {
  border-bottom: 1px solid;
  height: 0;
  margin-top: 25px;
  margin-bottom: 20px;
  margin-left: 0px;
  margin-right: 0px;
  position: relative;
  width: 100%;
}

.apollo-line {
  list-style: none;
  margin: 0;
  padding: 0;
}

.apollo-point {
  border: 1px solid black;
  border-radius: 50%;
  height: 15px;
  position: absolute;
  width: 15px;
  margin-left: -8px;
  margin-top: -8px;
  z-index: 10;
}

.apollo-point-negative {
  background-color: rgba(255, 125, 4, var(--alpha));
}

.apollo-point-positive {
  background-color: rgba(31, 193, 184, var(--alpha));
}

.apollo-point-neutral {
  background-color: white;
}

.apollo-point-mixed {
  background: linear-gradient(.25turn, rgb(255, 125, 4), rgb(255, 125, 4) 49%, rgb(0, 0, 0) 50%, rgb(31, 193, 184) 51%, rgb(31, 193, 184));
}

.apollo-point-background {
  border: 1px solid white;
  background-color: white;
}

.apollo-point-past {
  border: 0px;
  background-color: rgba(110, 38, 201, 0.45);
  border-radius: 15%;
  transform: rotate(45deg);
  height: 8px;
  position: absolute;
  width: 8px;
  margin-left: -4px;
  margin-top: -4px;
  z-index: 0;
}

.apollo-point-vertical {
  border-left: 1px solid black;
  height: 16px;
  position: absolute;
  margin-top: -8px;
  z-index: -1;
}

.apollo-sentiment-label {
  font-family: "inter";
  font-size: 9pt;
}

.apollo-sentiment-label > span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 9pt;
}

.apollo-sentiment-label-circle {
  border: 1px solid black;
  border-radius: 50%;
  height: 8px;
  width: 8px;
  display: inline-block;
  margin-left: 2px;
  margin-right: 3px;
}

.apollo-past-label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
  font-size: 9pt;
  padding-top: 12px;
}

.apollo-sentiment-label-diamond {
  display: inline-block;
  margin-left: 3px;
  margin-right: 4px;
  position: relative;
}

.apollo [data-tooltip] {
  font-family: system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu,
    "Helvetica Neue", sans-serif;
}

.apollo [data-tooltip] > embed {
  height: 16px;
  margin-left: 5px;
}

a[data-apollo-highlighted] {
  background-color: #dbff0057 !important;
  border-width: 2px;
  border-color: transparent;
  border-radius: 1px;
  margin: -2px;
}

div[data-apollo-highlighted="true"] {
  box-shadow: 0 0 0px 3px #dbff00;
  border-color: #dbff00;
}

a[data-apollo-highlighted="persistent"] {
  transition: background-color 0.5s;
  background-color: #ddddddaa !important;
}

div[data-apollo-highlighted="persistent"] {
  transition: box-shadow 0.5s ease-out;
  box-shadow: 0 0 0px 3px #000, 0 0 0px 4px #fff;
  border-color: #000;
}

.apollo-datanews {
  font-size: 8pt;
  text-align: center;
  margin-top: 10px;
}

.apollo-datanews a {
  color: black
}
